@import "compass/reset";
@import "compass/css3";

h1 {
    font-family: Bitter, Georgia, serif;
    font-size: 2.25em;
    padding: 0 1em;
}

body {
    text-align: center;
    font: 1em/1.5 Georgia, serif;
    color: #333;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
	width: 200px;
    height: 200px;
}

// Header
.header {
    padding: 10em 0 14em;

    h1 {
        font-style: italic;
    }
}

.avatar {
    @include box-shadow(0 0 0px 3px #fff, 0 0 0 4px #ccc, 0 4px 6px #333);
    @include border-radius(50px); // half the avatar size
    position: relative;
    top: -50px;
    @include transition-property(top);
 	@include transition-duration(2s);
    width: 100px;
    height: 100px;
}

.footer {
    p {
        color: #777;
        padding: 0 1em;
    }
}

.header,
.footer {
    background: #f7f7f7;
}

.content,
.footer {
    padding: 4em 0 6em;
}

.content {

    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    h1 {
        color: #ea4c89; // dribbble brand color
    }

    > p {
        font-size: .85em;
        color: #aaa;
    }
}