@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

$c-prim: #00BB74;
$c-second: #4C5173;
$c-third: #0EEF9A;
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

* {
 font-family: "Noto Sans";
}

#main-container {
  background:#1F2540;
}

.main-row {
  padding: 15px;
}

.center-text {
  text-align: center;
}

#intro {
  font: italic 50px 'Noto Sans';
  color: $c-second;
}

#typed {
  color: $c-prim;
}

#voting_icon {
  position: relative;
  color: $c-prim;
}

.chev {
  font-size: 40px;
}

.up {
  position: relative;
  top: 15px;
}

.up:hover {
  color: $c-third;
}

.down {
  position: relative;
  top: -10px;
}

.down:hover {
  color: $c-third;
}

.count {
  position: relative;
  z-index: 1;
  font-size: 25px;
}

#voting_sign {
  position: relative;
  top: 20px;
  font-size: 60px;
}

#voting {
  height: 100px;
}

#typed {
  position: relative;
  top: 30px;
  font-size: 40px;
}

.input-group {
  margin: 0 auto;
  float: none;
  max-width: 400px;
}

#attribute_name:disabled {
  border-color: $c-prim;
  border-width: 4px;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  -ms-transition: all ease 1s;
}

.btn-default {
  color: $c-second;
}

#suggest {
  position: relative;
  top: 30px;
}

.image {
  padding: 20px;
}

#logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.example-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}

.social {
    position: relative;
    top: 30px;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: $c-second;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    background-color: $c-prim;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
