.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

#voting_icon {
  text-align:center;
}

.chev {
  font-size: 40px;
}

.up {
  position: relative;
  top: 15px;
}

.down {
  position: relative;
  top: -10px;
}

.count {
  font-family: "Noto Sans";
  font-size: 25px;
}

#voting_sign {
  position: relative;
  top: 25px;
  font-family: "Noto Sans";
  font-size: 40px;
  text-align:center;
}

#typed {
  position: relative;
  top: 25px;
  font-family: "Noto Sans";
  font-size: 40px;
}
